.socialPost {
   margin-bottom: 20px;
   .post {
      background: white;
      border-radius: 10px;

      .postSlide {
         display: grid;
         width: 100%;
         text-align: center;

         img {
            display: grid;
            width: 100%;
            margin-right: 1px;
            cursor: pointer;
         }

         .slick-next {
            left: 95%;
            z-index: 1;
         }

         .slick-prev {
            left: 2%;
            z-index: 1;
         }

         .imageSpinLoading {
            margin: 20px 0;
            margin-bottom: 20px;
            padding: 30px 50px;
            text-align: center;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 4px;
         }
      }

      .postHeader {
         padding: 15px 18px;
      }

      .postButton {
         padding: 25px 0 0 20px;
      }

      .socialComment {
         margin-top: 10px;

         .viewAll {
            margin-left: 22px;
            font-weight: 300;
            color: #989898;
            cursor: pointer;
         }

         .socialCommentTable {
            .ant-empty-normal {
               margin: 5px 0;
            }

            .ant-table-thead > tr > th {
               display: none;
            }

            .ant-table-tbody > tr > td {
               border: 0px;
               padding: 5px 21px;
            }

            .commentTableUsername {
               margin-left: 2px;
               font-size: 15px;
               font-weight: bold;
               cursor: pointer;
               transition: all 0.3s;

               &:hover {
                  color: #1890ff;
               }
            }

            .commentTableContent {
               font-size: 14px;
            }
         }
      }

      .postInput {
         margin-top: 10px;
         margin-left: 20px;
         margin-right: 20px;
         padding-bottom: 20px;
      }
   }
}
