.promotion {
   .promotionCard {
      background: #e7e9ee;
      border-radius: 10px;
      height: 500px;
      width: 275px;

      .socialPostPhoto {
         img {
            border-radius: 8px 8px 0px 0px;
            width: 275px;
            height: 275px;
            object-fit: cover;
         }
      }
   }
   .promotionCard1 {
      background: #e7e9ee;
      border-radius: 10px;
      height: 500px;
      width: 275px;

      .socialPostPhoto {
         img {
            border-radius: 0px 0px 8px 8px;
            width: 275px;
            height: 275px;
            object-fit: cover;
         }
      }
   }
   .promotionCard2 {
      background: #eeeae8;
      border-radius: 10px;
      height: 500px;
      width: 275px;

      img {
         border-radius: 8px 8px 0px 0px;
         width: 275px;
         height: 275px;
         object-fit: cover;
      }
   }

   .promotionCard3 {
      background: #e8ebf0;
      border-radius: 10px;
      height: 500px;
      width: 275px;

      img {
         border-radius: 0px 0px 8px 8px;
         width: 275px;
         height: 275px;
         object-fit: cover;
      }
   }

   .buttonCard {
      border-radius: 8px;
      color: rgb(38, 56, 94);
      font-size: 11px;
      font-weight: 700;
      border: 0px solid transparent;
      box-shadow: rgba(62, 62, 99, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      width: 60%;
      margin-bottom: 20px;

      &:hover {
         border: 1px solid rgb(181, 181, 209);
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
   }

   h1 {
      font-size: 17px;
      font-weight: 600;
   }

   .socialPostCaption {
      font-size: 17px;
      font-weight: 600;
      color: #2c1c6b;
      height: 78px;
   }

   .icon {
      color: #2c1c6b;
      margin-top: 28px;
      margin-bottom: 10px;
      font-size: 45px;
   }

   .socialPostAvatar {
      margin-top: 25px;
      margin-bottom: 8px;
   }

   .promotionTextBottom {
      text-align: center;
      margin: 0px 40px 0px 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }

   .promotionTextTop {
      text-align: center;
      margin: 0px 40px 23px 40px;
   }
}
