.orderDetailContent {
   margin-top: 15px;
   border: 0px;
   border: 2px solid #e7e9ee;
   padding: 5px 10px 10px 15px;
   border-radius: 10px;

   .ant-tabs-nav::before {
      border-bottom: 0px solid #f0f0f0;
   }

   .stepsTitle {
      margin-top: 15px;
      font-size: 15px;
      font-weight: 700;
   }

   .orderContentSteps {
      .ant-steps-item-title {
         font-size: 14px;
      }

      .ant-steps-item-description {
         padding-bottom: 5px;
      }
   }

   .paginationComment {
      text-align: end;
      margin-right: 10px;
   }

   .commentButton {
      border-radius: 8px;
      margin-bottom: 4px;
   }
}
.modalCommentUserInput {
   font-family: "Roboto";

   .ant-modal-content {
      overflow: auto;
      border-radius: 10px;
   }

   .modalTitle {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
   }
}
