.productCard{
   background: white;
   padding: 25px 24.2px 18px 25px;
   border-radius: 10px;
   box-shadow: 0 0 15px 2px rgb(226, 226, 226);


   .productImage{
      margin-bottom: 10px;
   }

   h3{
      font-size: 10px;
      text-transform: uppercase;
      margin-left: -5px;
      padding-top: 2px;
      margin-bottom: 1px;
      font-weight: 700;
      color: rgb(139, 145, 158)
   }

   p{
      font-size: 15px; 
      margin-left: -5px;

      a{
         color: #301F71;
         font-weight: 700;
      }
   }

   h4{ 
      display: inline;
      margin-left: 15px;
      margin-top: 10px;
      color: #2E1E70;
   }

   h1{
      font-weight: 700;
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: -2px;
      margin-left: -5px;
      color: #2E1E70;
   }

   .stockStatus {
      margin-top: 2px;
      margin-bottom: -5px;
   }

   h5{
      display: inline-block;
      color: #4DC69B;
      margin-left: 10px;
      font-weight: 700;
      cursor: pointer;
   }

   h6{
      display: inline-block;
      color: #4DC69B;
      font-size: 9.5px;
      margin-left: 3px;
   }

   .progressBar{
      margin-left: -5px;
      width: 18%;
   }

}

h1 {
   color: #200E66;
   font-size: 25px;
   font-weight: 900;
   margin-bottom: 25px;
}

