.productCard {
   min-width: 209px;
   background: white;
   padding: 24px 22px 15px 22px;
   border-radius: 10px;
   transition: all 0.5s;

   &:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
   }

   .productImage {
      padding: 0px 7px;
   }

   h3 {
      font-size: 10px;
      text-transform: uppercase;
      padding-top: 2px;
      margin-bottom: 1px;
      font-weight: 700;
      color: rgb(139, 145, 158);
   }

   p {
      font-size: 15.5px;
      margin-bottom: 0px;

      a {
         color: #301f71;
         font-weight: 500;
      }
   }

   .qualityRate {
      display: inline;
      margin-left: 15px;
      margin-top: 10px;
      color: #2e1e70;
      font-weight: 500;
   }

   .productPrice {
      font-weight: 700;
      font-size: 21px;
      margin-top: 5px;
      color: #2e1e70;
      display: block;
   }

   .stockStatus {
      margin-top: 2px;
   }

   h5 {
      display: inline-block;
      margin-left: 2px;
      font-weight: 700;
      font-size: 13px;
   }

   h6 {
      display: inline-block;
      font-size: 10px;
      margin-left: 3px;
   }

   .progressBar {
      width: 18%;
   }
}

h1 {
   color: #200e66;
   font-size: 25px;
   font-weight: 900;
   margin-bottom: 25px;
}
