.profileContent {
   .titleOfTab {
      margin: 30px 0 10px;
      cursor: pointer;
      transition: all 0.5s;

      .title {
         transition: all 0.5s;
         color: #200e66;
         font-size: 21px;
         font-weight: 900;

         &:hover {
            color: #1890ff;
         }
      }

      .icon {
         transition: all 0.5s;
         color: #200e66;
         &:hover {
            color: #1890ff;
         }
      }
   }

   .showMoreButton {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;

      button {
         width: 25%;
         border-radius: 8px;
      }
   }
}
