.managePendingOrderTable {
   border-radius: 10px;
   overflow: auto;
   border: 2px solid #e7e9ee;
   margin-bottom: 20px;

   .ant-table-tbody > tr > td {
      border-bottom: 0px;
   }

   .ant-table-thead > tr > th,
   .ant-table-tbody > tr > td,
   .ant-table tfoot > tr > th,
   .ant-table tfoot > tr > td {
      padding: 10px 25px;
   }

   .orderDetailButton {
      transition: all 0.3s;
      font-size: 20px;
      cursor: pointer;

      &:hover {
         color: #1890ff;
      }
   }

   .orderDateTime {
      border-radius: 6px;
   }

   .footerTitle {
      font-size: 16px;
   }

   .footerPrice {
      font-size: 20px;
      font-weight: bold;
      color: #ff4d4f;
   }

   .footerButton {
      border-radius: 6px;
   }
}
