.manageShopOrderTable{
   border: 2px solid #F0F0F0;
   margin-bottom: 20px;
   border-radius: 10px;
   overflow: hidden;
   border-collapse: collapse;

   .orderUsername{
      font-weight: normal;
      color: rgb(48, 48, 48);
      transition: 0.2s ease;

      &:hover{
         color: #1890FF;
      }
   }

   

   .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
      padding: 10px 25px;
   }

   .footerOfTable{
      color: #FF4D4F;
      font-weight: bold;
      font-size: 18px;
   }

   .footerTitle{
      font-size: 16px;
   }

   .orderDetailButton{
      font-size: 18px;
      transition: all 0.4s;
      color: rgb(88, 88, 88);
      cursor: pointer;

      &:hover{
         color: #1890FF;
      }
   }

   
}
.modalUserDetails{
   

   .ant-modal-content {
      overflow: auto;
      border-radius: 10px;
   }
   .ant-modal-footer{
      padding: 16px 26px;
   }

   .ant-modal-body{
      padding: 25px 25px;
   }
}

.orderTableEmpty{
   border-radius: 10px;
   overflow: hidden;
   border: 2px solid #F0F0F0;
   border-radius: 10px;
}

