.newProductGrid{
   cursor: pointer;
   .col1{
      display: flex;
      justify-content: center;
      align-items: center;
      .productCol1-1{
         background: white;
         border-radius: 10px;
         width: 370px;
         height: 310px;
         
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         flex-wrap: nowrap;
         transition: all 0.5s;
         
         .productText{
            opacity: 0;
            transition: all 0.5s;
         }

         img{
            transition: all 0.5s;
         }

         &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transform: scale(1.02);

            .productGirdParaGraph{
               .productText{
                  opacity: 1;
                  font-size: 20px;
                  font-weight: 600;
                  color: #301F71;
               }
            }

            img{
               transform: translateY(-10px);
            }
         }
      }

      .productCol1-2{
         background: white;
         border-radius: 10px;
         width: 370px;
         height: 400px;
   
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         flex-wrap: nowrap;
         transition: all 0.5s;

         img{
            transition: all 0.5s;
         }

         .productText{
            opacity: 0;
            transition: all 0.5s;
         }

         &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transform: scale(1.02);
            
            .productGirdParaGraph{
               .productText{
                  opacity: 1;
                  font-size: 20px;
                  font-weight: 600;
                  color: #301F71;
               }
            }

            img{
               transform: translateY(-10px);
            }
         }
      }
   }

   .col2{
      .productCol2-1{
         background: white;
         border-radius: 10px;
         width: 372px;
         height: 220px;
   
         display: flex;
         justify-content: center;
         align-items: center;
         object-fit: cover;
         flex-direction: column;
         flex-wrap: nowrap;
         transition: all 0.5s;

         img{
            transition: all 0.5s;
            object-fit: cover;
         }

         .productText{
            opacity: 0;
            transition: all 0.5s;
         }

         &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transform: scale(1.02);
            
            .productGirdParaGraph{
               .productText{
                  opacity: 1;
                  font-size: 20px;
                  font-weight: 600;
                  color: #301F71;
               }
            }

            img{
               transform: translateY(-10px);
            }
         }
      }

      .productCol2-2{
         background: white;
         border-radius: 10px;
         width: 372px;
         height: 250px;
   
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         flex-wrap: nowrap;
         transition: all 0.5s;

         img{
            transition: all 0.5s;
         }

         .productText{
            opacity: 0;
            transition: all 0.5s;
         }

         &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transform: scale(1.02);
            
            .productGirdParaGraph{
               .productText{
                  opacity: 1;
                  font-size: 20px;
                  font-weight: 600;
                  color: #301F71;
               }
            }

            img{
               transform: translateY(-10px);
            }
         }
      }

      .productCol2-3{
         background: white;
         border-radius: 10px;
         width: 372px;
         height: 210px;
   
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         flex-wrap: nowrap;
         transition: all 0.5s;

         img{
            transition: all 0.5s;
            object-fit: cover;   
         }

         .productText{
            opacity: 0;
            transition: all 0.5s;
         }

         &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transform: scale(1.02);
            
            .productGirdParaGraph{
               .productText{
                  opacity: 1;
                  font-size: 20px;
                  font-weight: 600;
                  color: #301F71;
               }
            }

            img{
               transform: translateY(-10px);
            }
         }
      }
   }

   .col3{
      display: flex;
      justify-content: center;
      align-items: center;
      .productCol3-1{
         background: white;
         border-radius: 10px;
         width: 370px;
         height: 390px;
   
         display: flex;
         justify-content: center;
         align-items: center;
         transition: all 0.5s;
         flex-direction: column;
         flex-wrap: nowrap;

         img{
            transition: all 0.5s;
         }

         .productGirdParaGraph{
            margin-top: 12px;
            .productText{
               opacity: 0;
               transition: all 0.5s;
               margin-top: 20px; 
            }
         }

         &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transform: scale(1.02);
            
            .productGirdParaGraph{
               .productText{
                  opacity: 1;
                  font-size: 20px;
                  font-weight: 600;
                  color: #301F71;
               }
            }

            img{
               transform: translateY(-10px);
            }
         }
      }

      .productCol3-2{
         background: white;
         border-radius: 10px;
         width: 370px;
         height: 320px;
   
         display: flex;
         justify-content: center;
         align-items: center;
         transition: all 0.5s;
         flex-direction: column;
         flex-wrap: nowrap;

         img{
            transition: all 0.5s;
         }

         .productGirdParaGraph{
            margin-top: 12px;
            .productText{
               opacity: 0;
               transition: all 0.5s;
               margin-top: 20px; 
            }
         }

         &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transform: scale(1.02);
            
            .productGirdParaGraph{
               .productText{
                  opacity: 1;
                  font-size: 20px;
                  font-weight: 600;
                  color: #301F71;
               }
            }

            img{
               transform: translateY(-10px);
            }
         }
      }
   }
}