.mapbox{
   z-index: 0;
   .locationIcon{
      color: #1978C8;
      filter: drop-shadow(5px 5px 5px rgb(180, 180, 180));
      cursor: pointer;
   }

   .buttonSearchGroup{
      position: absolute;
      top: 110px;
      width: 100%;
      z-index: 1;
      margin-left: 15px;

      .ant-input {
         height: 32px;
      }

      .searchButton{
         width: 50px;
         height: 50px;
         
         .anticon svg {
            font-size: 20px;
            margin-top: 5px;
         }
      }
   }

   .searchStatusRow{
      .searchStatusNotification{
         border-radius: 10px;
         box-shadow: rgba(65, 65, 65, 0.35) 0px 5px 15px;
         background: white;
         padding: 12px;
         width: 320px;
      }
   }
   .mapboxgl-popup-tip{
      display: none;
   }

   .mapboxgl-popup-content {
      background-color: white;
      box-shadow: rgb(146, 146, 146) 0px 20px 30px -10px;
      border-radius: 8px;
   }
   
   .mapboxgl-popup-close-button{
      left: 198px;
   }

   .cluster-marker {
      color: #fff;
      background: #1978c8;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .crime-marker {
      background: none;
      border: none;
    }
    
    .crime-marker img {
      width: 25px;
    }
}  