.mapbox{
   z-index: 0;
   .locationIcon{
      color: #1978C8;
      filter: drop-shadow(5px 5px 5px rgb(180, 180, 180));
      cursor: pointer;
   }

   .reactMapGL{
      box-shadow: rgba(157, 157, 163, 0.2) 0px 7px 29px 0px;
   }


   .sidebarMap{
      position: absolute;
      top: 95px;
      left: 120px;
      z-index: 1;

      .menuList{
         overflow: auto;
         height: 550px;
         &::-webkit-scrollbar {
            display: none;
          }
      }

      .buttonSearchGroup{
         padding: 10px 12px;
         margin-bottom: 10px;
         border-radius: 10px;
         background: white;
         box-shadow: rgba(157, 157, 163, 0.2) 0px 7px 29px 0px;
   
         
         .ant-input {
            height: 32px;
         }
   
         .searchButton{
            width: 35px;
            height: 35px;
            
            .anticon svg {
               font-size: 15px;
               margin-top: 4px;
            }
         }
      }
      
      .searchStatusRow{
         .searchStatusNotification{
            border-radius: 10px;
            width: 100%;
            margin-left: 5px;
         }
      }

      .supportDisplayButton{
         display: absolute;
         top: 1000px;
         left: 500px;
      }
   }
   .mapboxgl-popup-tip{
      display: none;
   }

   .mapboxgl-popup-content {
      background-color: white;
      box-shadow: rgb(146, 146, 146) 0px 20px 30px -10px;
      border-radius: 8px;
   }
   
   .mapboxgl-popup-close-button{
      left: 198px;
   }

   .cluster-marker {
      color: #fff;
      background: #1978c8;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .crime-marker {
      background: none;
      border: none;
    }
    
    .crime-marker img {
      width: 25px;
    }
}  