.productDetailCard {
   .user {
      margin: 20px 0;
      padding: 10px 15px;
      border-radius: 10px;
      background: white;

      .userAvatar {
         margin: 18px;
      }

      .avatarLoading {
         width: 50%;
         margin: 10px 20px 10px 20px;
      }

      .userInfo {
         .userName {
            font-size: 20px;
            font-weight: bold;
            display: block;
         }

         .phoneNumber {
            font-size: 14px;
         }
      }

      .infoGird {
         background: #f3f8fe;
         border-radius: 10px;
         margin: 0px 10px 8px 10px;
         padding: 20px 0;

         .infoRow {
            text-align: center;

            .titleRate {
               font-weight: 400;
               font-size: 14px;
            }
            .titleScore {
               font-size: 18px;
               font-weight: 900;
            }
         }
      }

      .buttonGroup {
         margin: 10px 10px 18px 10px;

         button {
            font-size: 15px;
            width: 229px;
            height: 50px;
            border-radius: 10px;
         }
      }
   }
}
