.productDetailCard{
   .user{
      margin: 17px 0px 10px 0px;
      border-radius: 10px;
      background: white;
      width: 102%;

      .userAvatar{
         margin: 18px;
      }

      .avatarLoading{
         width: 50%;
         margin: 10px 20px 10px 20px;
      }

      .userInfo{

         h4{
            font-size: 17px;
         }

         .buttonGroup{
            button{
               width: 125px;
               border-radius: 5px;
               span{
                  font-size: 13.5px;
                  font-weight: 400;
               }
            }
         }
      }

      .infoGird{
         .infoRow{
            text-align: center;
            .titleRate{
               font-weight: 700;
               font-size: 17px;
            }
            .titleScore{
               font-size: 14px;
               font-weight: 500;
            }
         }
      }
   }
}
