.modalPostDetail {
   font-family: "Roboto";

   .ant-modal-content {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
   }

   .ant-modal-body {
      padding: 0px;
   }

   .postDetailRow {
      height: 640px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .postDetailComment {
      height: 605px;
      display: grid;
      justify-content: start;

      padding: 10px;
   }

   .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
