.modalPostDetail {
   font-family: "Roboto";

   .ant-modal-content {
      border-radius: 5px;
   }

   .ant-modal-body {
      padding: 0px;
   }

   .ant-modal-close-x {
      display: none;
   }

   .postDetailRow {
      height: 640px;
      justify-content: center;
      align-items: center;

      .postDetailCommentCol {
         height: 100%;

         .postDetailComment {
            padding: 20px;
            justify-content: start;
            height: 100%;
            border-left: 2px solid #eee;
         }
      }

      .postDetailImage {
         padding-top: 5px;
      }
   }

   .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .slick-next {
      left: 95%;
      z-index: 1;
   }

   .slick-prev {
      left: 2%;
      z-index: 1;
   }
}
