.revenueCardInDay {
   border: 2px solid #e7e9ee;
   border-radius: 10px;
   padding: 10px 15px;
   margin-bottom: 20px;
   transition: all 0.3s;

   &:hover {
      border: 2px solid #1890ff;
   }
}

.revenueTableByDate {
   border-radius: 10px;
   overflow: auto;
   border: 2px solid #e7e9ee;
   transition: all 0.3s;

   &:hover {
      border: 2px solid #1890ff;
   }

   .ant-table-thead > tr > th {
      text-align: center;
      padding: 8px 10px;
   }

   .ant-table-tbody > tr > td {
      text-align: center;
      padding: 8px 10px;
   }

   .totalFooterRow {
      text-align: center;
      width: 140%;
   }
}
