.comment {
   background: white;
   border-radius: 10px;
   margin: 20px 0;

   .productDetailComment {
      min-height: 100px;

      p {
         font-size: 13px;
      }

      .ant-comment-inner {
         padding: 5px 10px 6px 0px;
      }

      .ant-comment-avatar img {
         margin-left: 5px;
         width: 42px;
         height: 42px;
      }

      .ant-comment-actions {
         margin-top: 0;
      }

      .ant-list-header {
         margin-bottom: 5px;
      }

      .emptyComment {
         margin-top: 25px;
         text-align: center;
      }
   }
}
