.comment {
   background: white;
   border-radius: 10px;
   margin: 20px 0;

   .productDetailComment {
      min-height: 100px;
      padding-bottom: 15px;

      p {
         font-size: 13px;
      }

      .ant-comment-inner {
         padding: 5px 0;
      }

      .ant-comment-actions {
         margin-top: 0;
      }

      .ant-list-header {
         margin-bottom: 5px;
      }
   }
}
