.productDetailComment{
   background: white;
   border-radius: 10px;
   min-height: 100px;
   width: 102%;
   margin-top:18px;
   padding: 2px 35px 10px 30px;

   p{
      font-size: 13px;
   }

   .ant-comment-inner{
      padding: 10px 0;
   }
}