.socialUserMenu{
   .socialUserCard{
      width: 238px;
      border-radius: 10px;
      background: white;
      padding: 18px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #233a58;
      
      .name{
         font-size: 14px;
         font-weight: 900;
      }
      
      .userName{
         font-size: 13px;
      }
      
      .stats{
         margin-top: 5px;
         text-align: center;

         .number {
            width: auto;
            font-weight: 800;
         }

         .title {
            width: auto;
            font-size: 9px;
         }
      }
   }
   
   .socialMenuCard{
      .menu{
         width: auto;
         padding: 5px 0;
         border-radius: 10px;
         font-weight: 500;
         color: #33455e;

         .menuIcon {
            font-size: 18px;
            margin: 0 8px;
         }
         
         .ant-menu-item:not(:last-child) {
            margin-bottom: 5px;
         }
      }
   }
}
