.socialInputPost{
   display: grid;
   width: 100%;

   .socialInput{
      height: 70px;
      border-radius: 10px;
      border: 0px;
      width: 100%;

      .socialInputAvatar{
         margin: 10px;
      }

      .socialInputButton{
         margin: 10px;
         border-radius: 10px;
         height: 40px;
         font-size: 14px;
      }

      .skeletonAvatar{
         margin: 0 4px;
         width: 40px;
         height: 40px;
      }
   }
}

.modalCreatePost{
   font-family: 'Roboto';
   .ant-modal-content {
      overflow: auto;
      border-radius: 10px;
   }
   
   .ant-modal-body{
      padding: 20px 20px 20px 20px;
   }

   .modalTitle{
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
   }
   
   .ant-modal-header{
      padding: 14px;
   }

   .socialPostContainer{
      display: grid;
      width: 100%;
      .socialPostUser{

         .name{
            font-size: 14px;
            font-weight: bold;
         }

         .username{
            font-size: 14px;
         }
      }

      textarea{
         margin-top: 10px;
         margin-bottom: 10px;
         width: 100%;
         padding: 0 1px;
         font-size: 16px;
      }

      .socialSelectProduct{
         width: 100%;
         margin-top: 3px;
         margin-bottom: 10px;

         .ant-select-selector{
            border-radius: 8px;
         }
      }

      .socialSubmitButton{
         border-radius: 8px;
         height: 35px;
      }

      .selectedTag{
         margin-right: 3px;
         border-radius: 6px;
         margin-bottom: 1px;
      }
   }
}
