.productCartAddress{
   border-radius: 10px;
   padding: 10px 14px 10px 10px;
   background: white;

   .productCartAddressHeader{
      .subHeader{
         font-size: 12px;
      }
   }

   .cartUserInfo{
      .cartUserAvatar{
         padding: 5px 5px 5px 5px;
      }

      .cartUserInfo{
         .cartUserEmail{
            font-size: 13px;
            font-style: italic;
         }
   
         .cartUsername{
            font-size: 13px;
            font-weight: 900;
         }

         .cartUserPhone{
            font-size: 13px;
         }
      }
      .cartUserAddress{
         padding: 5px;
         font-size: 13px;
         font-weight: 500;
         color: #303030;
      }
   }
}