.relationCard {
   position: sticky;
   top: 20px;
   .title {
      margin-bottom: 0.25em;
   }
   .address {
      margin-bottom: 15px;
      padding: 12px 16px;
      border-radius: 10px;
      background: white;

      .icon {
         font-size: 18px;
      }
   }

   .userStats {
      margin-bottom: 15px;
      padding: 11px 16px 14px;
      border-radius: 10px;
      background: white;

      .ant-statistic {
         line-height: 1;
      }

      .ant-statistic-content {
         font-size: 18px;
      }

      .statsIcon {
         margin: 0 2px -1px 0;
      }
   }
}
