.productDetailCard{
  .productDetail{
    padding: 25px 10px 25px 10px;
  }
  .product{
    background: white;
    border-radius: 10px;

    .skeletonLoading{
      width: 70%;
      margin-left: 15px;
      margin-top: 5px;
    }

    .buttonRow{
      .addButton{
        background:#321c8a;
        color: white;
        border-radius: 9px;
        width: 100px;
        height: 52px;

        span{
          font-size: 13px;
        }
      }

      .locateButton{
        border-radius: 9px;
        height: 52px;
        width: 52px;
        border-width: 2px;
      }
  
      .datePicker{
        margin-top: 2px;
        font-size: 18px;
        width: 310px;
        height: 52px;
        background: white;
        border-radius: 10px;
        border-width: 2px;

        input{
          font-size: 13px;
        }
      }
    }
  
    .productHeaderRow{
      h1{
        font-size: 32px;
        font-weight: 800;
        color: #332E55;
      }

      .qualityRate{
        margin-top: 5px;
        margin-left: 10px;
        padding: 4px 8px;
        background: #d9d7e4;
        border-radius: 4px;
        font-size: 15px;
        color: #6C667C;
      }
    }

    .productPriceRow{
      margin: -20px 0px 0px 0px;
      p{
        color: #6C667C;
        font-weight: 500;
        font-size: 25px;
        padding-right: 3px;
      }

      h2{
        color: #332E55;
        font-size: 32px;
        font-weight: 800;
      }

      h3{
        font-size: 15px;
        color: #6C667C;
        margin: 16.5px 0px 0px 10px;
      }
    }

    .productDescriptionRow{
      
      .productDescription{
        min-height: 120px;
      }
      .description{
        width: 80%;
        font-weight: 400;
        color: #6C667C;

        .descriptionParse{
          h1{
            font-size: 10px;
          }
        }
      }
      .readMore{
        cursor: pointer;
        color:#321c8a;
      }
    }
    
    .avatarGroup{
      margin: 12px 0px;
      h4{
        margin-top: 5px;
        color: #43454d;
      }
    }

    .productDescriptionInfo{
      margin-left: 28px;
      font-weight: 400;

      .descriptionIcon{
        padding-right: 10px;
        color: #64C7A8;
        display: inline;
        font-size: 18px;
      }
    }
  }
  .productDetailMap{
    border-radius: 10px;
    transition: 0.4s ease-out;
	  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    &:hover{
      transform: translateY(-5px)
    }
  }
}

.card{
  width: 100px;
  height: 100px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  &:hover{
		transform: translateY(8px);
		&:before{
			opacity: 1;
    }
		.info{
			opacity: 1;
			transform: translateY(0px);
    }
  }
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background: rgba(rgb(212, 212, 212), 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
  }
  img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 15px;
  }

  .info{
		position: relative;
		z-index: 3;
		color: white;
		opacity: 0;
		transform: translateY(30px);
		transition: 0.5s;

    h1{
      color: #7a998a;
			margin: 0px;
      font-size: 14px;
    }
		p{
			letter-spacing: 1px;
			font-size: 15px;
			margin-top: 8px;
    }
  }
}