.productDetailCard{
  padding: 7px 24px 18px 18px;
  margin-top: -10px;
  height: 500px;

  .product{
    background: white;
    border-radius: 10px;

    .skeletonLoading{
      width: 70%;
      margin-left: 15px;
      margin-top: 5px;
    }

    .buttonRow{
  
      .addButton{
        margin-left: 10px;
        background:#321c8a;
        color: white;
        border-radius: 9px;
        width: 150px;
        height: 52px;
      }
  
      .datePicker{
        margin-top: 2px;
        margin-left: 16px;
        font-size: 18px;
        width: 325px;
        height: 52px;
        background: white;
        border-radius: 10px;
        border-width: 2px;
  
        input::placeholder{
          text-align: center;
        }
      }
    }
  
    .productHeaderRow{
      margin: 25px 0px 0px 18px;
      
      h1{
        font-size: 32px;
        font-weight: 800;
        color: #321c8a;
      }
    }

    .productPriceRow{
      margin: -20px 0px 0px 0px;

      p{
        color: #56535f;
        font-weight: 500;
        font-size: 25px;
        padding-right: 3px;
        padding-left: 15px;
      }

      h2{
        color: #321c8a;
        font-size: 32px;
        font-weight: 800;
      }

      h3{
        font-size: 15px;
        color: #777980;
        margin: 16.5px 0px 0px 10px;
      }
    }

    .productDescriptionRow{
      margin: -5px 0px 0px 18px;
      
      .productDescription{
        min-height: 120px;
      }
      .description{
        padding-right: 100px;
        margin-bottom: 0px;
        font-weight: 400;
        color: #777980;
      }
      .readMore{
        cursor: pointer;
        color:#321c8a;
      }
    }
    
    .avatarGroup{
      margin: 20px 0px 0px 16px;

      h4{
        margin-top: 5px;
        margin-left: 10px;
        color: #43454d;
      }
    }

    .productDescriptionInfo{
      margin: 32px 0px 0px 18px;

      .descriptionInfoRow{
        margin-bottom: 7px;

        h4{
          color:#43454d;
          font-weight: 400;
        }
      }
    }
  }

}