.modalCommentUserInput {
   font-family: "Roboto";

   .ant-modal-content {
      overflow: auto;
      border-radius: 10px;
   }

   .modalTitle {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
   }
}
