.overviewTableGird{
   .tableGrid{
      cursor: pointer;
      text-align: center;
      width: 20%;
   }

   .tableGridLabel{
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 5px;
   }
}

.cardRevenueCol{
   .cardRevenue{
      padding: 15px 0px 0px 15px;
      margin-bottom: 15px;
      border: 2px solid #E7E9EE;
      border-radius: 10px;
      width: 100%;
      transition: 0.5s ease;

      &:hover{
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
   
      .cardRevenueDescription{
         font-size: 16px;
      }
      h2.ant-typography, .ant-typography h2 {
         margin-bottom: 0em;
      }
      .cardRevenuePercent{
         color: #3EB388;
         font-weight: bold;
         font-style: italic;
      }
   }
   .cardRevenueTable{
      border: 2px solid #F0F0F0;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s ease;

      .ant-table-thead > tr > th {
         padding: 5px 10px;
      }

      .ant-table-footer {
         padding: 5px 8px;
      }

      .totalFooterRow{
         color: #FF4D4F;
         font-weight: bold;
         font-size: 15px;
      }

      &:hover{
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
   }
}

.revenueChartOverview{
   width: 100%;
}

.barChartOverview{
   width: 95%;
}
.cardOrderCol{
   .cardOrder{
      padding: 15px 0px 0px 15px;
      margin-bottom: 15px;
      border: 2px solid #E7E9EE;
      border-radius: 10px;
      width: 100%;
      transition: 0.5s ease;

      &:hover{
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
   
      .cardOrderDescription{
         font-size: 16px;
      }
   
   }
   .cardOrderTable{
      border: 2px solid #F0F0F0;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s ease;
      

      .ant-table-thead > tr > th {
         padding: 5px 10px;
      }

      .ant-table-footer {
         padding: 5px 8px;
      }
      &:hover{
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      .totalFooterRow{
         color: #FF4D4F;
         font-weight: bold;
         font-size: 15px;
      }
   }
}

.searchByDateTime{
   div.ant-typography, .ant-typography p {
      margin-bottom: 0em;
   }

   .datePickerSearch{
      width: 100%;
      height: 100%;
      border: 2px solid #E7E9EE;
      border-radius: 10px;
   }
}