.createStep{
   background: white;
   border-radius: 10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   margin-bottom: 12px;
   padding: 20px 30px 15px 20px;


   .ant-steps-item-icon .ant-steps-icon{
      line-height: 0.5;
      font-size: 18px;
   }

   .ant-steps-item-description{
      font-size: 12px;
      font-weight: 300;
   }

   .ant-steps-item-title{
      font-weight: 500;
   }
}